{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <div class="top">
        <div class="headings">
            <h1>Welcome to DITTO!</h1>
            <img src="static/favicon.png" alt="">
            <p>Here you can see your favourite characters say things they would say, but never have! We have
                trained
                Markov
                chain models using the scripts from their TV shows and movies as corpora. We use these models to
                generate
                text. Click a category to explore (or create your own custom text generator)!</p>
        </div>
    </div>
    <section class="hero-section">

        <div class="card-grid">
            <a class="card" href="/hp">
                <div class="card__background" style="background-image: url(static/hp.jpg)">
                </div>
                <div class="card__content">
                    <p class="card__category">Movie Series</p>
                    <h3 class="card__heading">Harry Potter</h3>
                </div>
            </a>
            <a class="card" href="/got">
                <div class="card__background" style="background-image: url(static/got.jpg)">
                </div>
                <div class="card__content">
                    <p class="card__category">TV Show</p>
                    <h3 class="card__heading">Game of Thrones</h3>
                </div>
                <a class="card" href="/office">
                    <div class="card__background" style="background-image: url(static/office.jfif)">
                    </div>
                    <div class="card__content">
                        <p class="card__category">TV Show</p>
                        <h3 class="card__heading">The Office</h3>
                    </div>
                </a>
                <a class="card" href="/custom">
                    <div class="card__background" style="background-image: url(static/custom.jpg)">
                    </div>
                    <div class="card__content">
                        <p class="card__category">Custom</p>
                        <h3 class="card__heading">Custom</h3>
                    </div>
                </a>

                <div>
    </section>
</div>
{% endblock %}