html,
body {
  height: 100%;
  background-image: url(../bg.jpg);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;  
  background-attachment: fixed;
}